.singlePost {
  flex: 9;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}

.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-size: 28px;
  font-family: "Lora", sans-serif;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #be9656;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.singlePostAuthor {
  margin-left: 5px;
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.single-post-cmt {
  flex-grow: 1;
  margin-top: 30px;
}

.single-post-cmt-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.single-post-cmt-form input,
textarea {
  margin-bottom: 15px;
  height: 30px;
  border: 1px solid #bbb;
  border-radius: 3px;
}

.single-post-cmt-form textarea {
  height: 100px;
  border-radius: 5px;
}

.single-post-cmt-form button {
  padding: 7px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(0, 0, 0, 0.4);
  margin-right: 2px;
  flex-grow: 1;
  justify-content: center;
}
